/* Base Menu Layout */
.menu-container {
  display: flex;
  align-items: center;
}

.menus ul {
  display: flex;
  gap: 22px;
  list-style: none;
}

.menu {
  color: #444;
  cursor: pointer;
}

.menu.selected {
  color: black;
  font-weight: 600;
}

/* Avatar + Username */
.profile-wrapper {
  position: relative;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 25px;
  cursor: pointer;
}

.avatar {
  width: 38px;
  height: 38px;
  background: #f7d6f6;
  color: #c400c4;
  font-weight: 700;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.username {
  font-size: 16px;
}

/* DROPDOWN BOX */
.dropdown-box {
  position: absolute;
  top: 50px;
  right: 0;
  width: 230px;
  background: white;
  border-radius: 8px;
  padding: 12px 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.drop-username {
  font-size: 17px;
  font-weight: bold;
}

.drop-email {
  font-size: 13px;
  color: gray;
  margin-bottom: 10px;
}

/* Logout button */
.logout-btn {
  width: 100%;
  padding: 8px;
  background: #ff5252;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #e84646;
}
