body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-link {
  margin-left: 40px;
}

.custom-link {
  text-decoration: none;
  color: #666;
  transition: color 0.3s ease;
}

.custom-link:hover {
  color: #007bff;
}

#supportHero {
  background-color: rgb(56, 126, 209);
  color: white;
  margin: auto;
}
#supportHero a {
  color: white;
}

#supportWrap {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: auto;
}

#supportHero input {
  padding: 20px 50px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}
